.Container{
    /* background-image: linear-gradient(to bottom right,#1E77A5,#6AF2D8);
     */
     
     background-image: linear-gradient(to bottom right ,#189AB4,#75E6DA);
}
.white-Box{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    background-color: #D4F1F4;

}
div,span{
    color:#05445E;
}
#chart-container{
    height:350px;
    width:400px;

}
#heading{
    font-size: 2em;
    font-weight: bolder;
    color: #05445E;
}
.color-conatiner{
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
}
.content-box{
    height:800px;
    width:600px;
    border-radius: 25px;
    margin:10px;
    padding:20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* overflow: scroll; */
}

.color-block{
    display: flex;
    flex-direction: row;
}
#dropbox-container{
    margin:10px;
    padding:20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
#filter-text{
    color:#05445E;
    font-size: 25px;
}
#select{
    margin-left:25px;
    height:30px;
    font-size: 15px;
    font-weight: 700;
    /* background-color: rgba(255, 255, 255, 0.685); */
    background-color: #D4F1F4;


}
.white-container{
    border-radius: 10px;
    font-size: larger;
    font-weight: 900;
    font-family: cursive;
    padding: 20px;

}
.Countrylist{
    overflow: scroll;
}
.data-box{
    margin:10px;
}
#loading-img{
    height:50px;
    width:50px;
    margin:5px;
    animation: rotate 1s infinite linear  ;
}
@keyframes rotate{
from{
    transform: rotate(0deg);
}
to{
    transform: rotate(360deg);
}
}
.loading-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;

}
@media(max-width:400px){
    *{
        font-family: sans-serif;
    }
    .content-box{
        height: auto;
        width:auto;
    }
    .data-box{
        margin: 0;
        
    }
    .color-conatiner{
        flex-direction: column !important;
        align-items: baseline;
    }
   #chart-container{
        width:300px;
        height:300px;
        
    }
}