.Container{
    background-image: linear-gradient(to bottom right,#1E77A5,#6AF2D8);
}
.white-Box{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: white;

}
#chart-container{
    height:350px;
    width:400px;

}
#heading{
    font-size: 1.5em;
    font-weight: bolder;
    color: black;
}
.color-conatiner{
    align-items: center;
    justify-content: space-around;
}
.content-box{
    height:800px;
    width:600px;
    border-radius: 25px;
    margin:10px;
    padding:20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* overflow: scroll; */
}
#dropbox-container{
    margin:10px;
    padding:20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
#filter-text{
    color:white;
    font-size: 25px;
}
#select{
    margin-left:25px;
    height:30px;
    font-size: 15px;
    font-weight: 700;
    background-color: rgba(255, 255, 255, 0.685);


}
.white-container{
    border-radius: 10px;
    font-size: larger;
    font-weight: 900;
    font-family: cursive;
    padding: 20px;

}
.Countrylist{
    overflow: scroll;
}
.data-box{
    margin:10px;
}
